<!--footer-->
<footer class="  bg-red-500 bg-opacity-5 pt-20 ">
    <div
        class=" w-[80%] grid md:grid-flow-col md:grid-cols-3 items-center m-auto   border-[1px] border-transparent border-b-gray-200">
        <div class=" pb-10 block  ">
            <h4 class="md:text-left text-center text-2xl mb-3 ">Savaona</h4>
            <div class="flex  md:justify-start justify-center  md:text-left text-center">
                <ul class=" leading-7">
                    <li class="hover:text-[#ebc] duration-300"> <a routerLink="">Purest hygiene soap.</a></li>
                    <li class="hover:text-[#ebc] duration-300"> <a routerLink=""> fresh and feel fresh</a>.</li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">@_organicsoap</a></li>
                </ul>
            </div>
        </div>
        <div class=" flex justify-center align-middle  pb-10 ">
            <div
                class="lg:w-40  md:w-32   w-48 flex flex-col border-[2px] border-[#edcbc0] md:py-12 py-24 rounded-[120px] px-1 moving ">
                <img class="md:w-20 w-16 m-auto" src="assets\images\5c45859cf8ab04028c27e06b.png">
                <p class="text-center text-sm">Best soaps are not made in factories, they are made in home.</p>
                <div></div>
                <div></div>
            </div>
        </div>
        <div class=" pb-10 leading-7 ">
            <h4 class=" text-center text-2xl mb-3 lg:pl-10">Contact Info</h4>
            <div class="flex md:justify-end justify-center gap-9 md:text-left text-center ">
                <ul>
                    <li class="hover:text-[#ebc] duration-300"> <a routerLink="">About Us</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">Catalog</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">Search</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">FAQ</a></li>
                </ul>
                <ul>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">Contact Us</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">Privacy Policy</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">Shipping Details</a></li>
                    <li class="hover:text-[#ebc] duration-300"><a routerLink="">FAQ</a></li>
                </ul>
            </div>
        </div>
    </div>
    <p class="text-center block align-middle py-5">© 2021 Copy Rights Reserved,Aroma,.</p>
</footer>
