<!--header-->
<header class=" relative ">
    <div class="flex sm:h-[700px] w-full items-center ">
        <img class=" relative top-0 sm:h-full md:w-full right-0 md:object-cover  bg-center"
            src="assets\images\light-background-with-set-body-care-products-health-beauty-concept-copy-space.jpg">
    </div>
    <div
        class="flex flex-col lg:w-[60%] md:w-[80%]  absolute md:top-[40%]  sm:top-[10%] top-0  right-0 left-0 md:-translate-y-1/2    items-center   ">
        <img class="md:w-[250px] w-[200px] rounded-full"
            src="assets\images\da190dc81ecf7e94d749e9cd70942b6e-removebg-preview.png">
        <h2 class="md:text-5xl text-3xl font-semibold md:mb-5  md:mt-0 -mt-5 text-slate-800">Be clean. Be aromatic
            <span class="md:text-[#ecb8a7] text-[#e9ad9a]">
                <span>c</span>
                <span>l</span>
                <span>e</span>
                <span>a</span>
                <span>n</span>
            </span>

        </h2>
        <p class="md:w-[60%] w-[80%] text-center mb-2 text-gray-700"> Suspendisse eget risus mollis, molestie lectus
            vel,
            pellentesque nulla. Aliquamum feugiat lacus in sem
            fermentum finibus.

        </p>
        <div class="flex gap-4 text-gray-700 ">
            <button class="font-semibold">Shop All</button>
            <button class="font-semibold">View More </button>
        </div>

    </div>
</header>
<!--first section-->
<section class=" md:flex md:h-56 lg:h-72  gap-5 p-5 bg">
    <div class="md:w-1/3  mb-5   h-full   ">
        <img class="  h-full  w-full  " src="assets\images\pharma-hemp-complex-59qoKToSLOQ-unsplash.jpg">
    </div>
    <div class=" md:w-1/3 mb-5 h-full ">
        <img class=" h-full w-full  " src="assets\images\pharma-hemp-complex-yVAXSK6zFIM-unsplash.jpg">
    </div>
    <div class=" md:w-1/3 mb-5  h-full">
        <img class="h-full w-full " src="assets\images\pharma-hemp-complex-nlEBH2vresA-unsplash.jpg">
    </div>
</section>

<!--natural cosematic sectin-->

<section class="lg:flex  md:w-11/12  m-auto gap-10 p-10 mb-10  ">
    <div class="lg:w-1/3 container md:flex m-auto lg:m-0 lg:pt-14  mb-5">
        <div class="md:w-3/4 lg:m-auto ">
            <h2 class="text-3xl font-medium mb-2 text-zinc-800 ">Natural Cosmetic Brand</h2>
            <p class=" text-base leading-7 mb-4 text-gray-600">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Praesentium autem corrupti quae dolores
                molestias
                vel vero debitis placeat amet natus architecto officiis tenetur nostrum, sapiente, ducimus dignissimos
                aspernatur, laudantium in.</p>
            <p class="text-base font-semibold">SHOP ALL</p>
        </div>
    </div>
    <div class="md:flex  container text-center lg:w-4/5 m-auto md:gap-5 gap-4 ">
        <div class="">
            <div class="flex justify-center  ">
                <img class="md:w-9/12 w-6/12 transition-all duration-700 hover:-translate-y-3"
                    src="assets\images\soap_PNG13.png">
            </div>
            <div class="md:w-full w-11/12 m-auto">
                <h5
                    class="text-2xl mb-1 text-zinc-900 font-normal transition-all delay-100 duration-500   hover:text-[#b7cfd9]">
                    <a routerLink="">Skin Paradise</a>
                </h5>
                <p class="text-base text-gray-600 mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur commodi unde accusamus.</p>
                <div class="font-medium text-base text-zinc-800">VIEW PRODUCTS</div>
            </div>

        </div>
        <div class="">
            <div class="flex justify-center  ">
                <img class="md:w-9/12 w-6/12 transition-all duration-700 hover:-translate-y-3"
                    src="assets\images\soap_PNG15.png">
            </div>
            <div class="md:w-full w-11/12 m-auto">
                <h5
                    class="text-2xl mb-1 text-zinc-900 font-normal transition-all delay-100 duration-500   hover:text-[#b7cfd9]">
                    <a routerLink="">Skin Paradise</a>
                </h5>
                <p class="text-base text-gray-600 mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur commodi unde accusamus.</p>
                <div class="font-medium text-base text-zinc-800">VIEW PRODUCTS</div>
            </div>

        </div>
        <div class="">
            <div class="flex justify-center  ">
                <img class="md:w-9/12 w-6/12 transition-all duration-700 hover:-translate-y-3"
                    src="assets\images\soap_PNG14.png">
            </div>
            <div class="md:w-full w-11/12 m-auto">
                <h5
                    class="text-2xl mb-1 text-zinc-900 font-normal transition-all delay-100 duration-500   hover:text-[#b7cfd9]  ">
                    <a routerLink="">Skin Paradise</a>
                </h5>
                <p class="text-base text-gray-600 mb-3 ">Lorem ipsum dolor sit amet consectetur adipisicing elit.
                    Pariatur commodi unde accusamus.</p>
                <div class="font-medium text-base text-zinc-800">VIEW PRODUCTS</div>
            </div>

        </div>


    </div>
</section>

<!--Best for your Skin section-->
<section class="md:flex lg:gap-20 gap-10  mt-10  bg-slate-300 bg-opacity-5   ">
    <div class="md:hidden lg:flex lg:basis-1/2  flex bg-red-500 bg-opacity-5"><img class="w-11/12 m-auto align-middle"
            src="assets\images\soap-g39bd333f3_1920.jpg">
    </div>
    <div class=" lg:basis-1/2 pt-10 flex m-auto basis-11/12  ">
        <div class="lg:basis-3/4 p-7 md:p-0">
            <h2 class="text-5xl font-medium mb-5 text-zinc-800">Best for your Skin</h2>
            <p class="text-xl font-normal mb-5 text-gray-900 break-all">Our craftsmen explore the world just like our
                founder by
                being
                “open and curious to everything”. We
                experience life to innovate and create with an open-minded and joyful attitude
            </p>
            <p class="text-base font-normal mb-10 text-gray-600 leading-7 break-all">Our craftsmen explore the world
                just
                like our
                founder by being
                open and curious to everything. We
                experience life to innovate and create with an open-minded and joyful attitude Our craftsmen explore the
                world just like our founder by being
                open and curious to everything. We
                experience life to innovate and create with an open-minded and joyful attitude

            </p>
            <div class="md:flex md:justify-around  ">
                <div class=" text-center mb-10 ">
                    <div class="flex justify-center mb-5  ">
                        <i
                            class="fa-solid fa-feather-pointed text-5xl transition-all duration-300 hover:-translate-y-3 text-red-200 "></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-xl mb-1 text-zinc-900 font-medium  ">
                            <a routerLink="">Natural Ingrediant</a>
                        </h6>
                    </div>
                </div>
                <div class=" text-center mb-10  ">
                    <div class="flex justify-center mb-5 ">
                        <i
                            class="fa-solid fa-flask-vial text-5xl transition-all duration-300 hover:-translate-y-3 text-red-200 "></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-xl mb-1 text-zinc-900 font-medium  ">
                            <a routerLink="">No Toxic Chemicals</a>
                        </h6>
                    </div>
                </div>
                <div class=" text-center mb-10 ">
                    <div class="flex justify-center mb-5 ">
                        <i
                            class="fa-solid fa-shield-heart text-5xl transition-all duration-300 hover:-translate-y-3 text-red-200"></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-lg mb-1 text-zinc-900 font-medium  ">
                            <a routerLink="">Safe In Lab
                                Tested</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- <button class="bg-gray-500">Join AND Shop Now</button> -->
        </div>
    </div>

</section>

<!--break section-->
<section class=" pt-3 pb-6 mt-16">
    <div class=" relative opacity-40">

        <img data-aos="zoom-in-up" data-aos="fade-up" data-aos-delay="400" data-aos-duration="2000"
            class="  absolute top-10 right-16 lg:h-48 h-36 z-0" src="assets\images\PngItem_304906.png">
    </div>
    <div class="flex  text-center relative top-0 left-0 z-10  ">
        <div class="basis-4/5 lg:basis-1/2  m-auto">
            <h5 class="text-zinc-900">SAVON. IN THE PRESS</h5>
            <p class="text-2xl font-medium text-zinc-800 mt-3 mb-4">SAVON. believe in the truth and transparency in the
                personal care industry - what you see is what you
                get,
                with
                no compromise on luxury.</p>
            <p class="font-medium mb-1">Clark Morton</p>
            <p class="text-gray-500">Owner "Beauty cave"</p>
        </div>
    </div>
</section>

<!--natural determalnology-->
<section class="lg:flex lg:gap-5 gap-10  mt-10  bg-[#b7cfd9] pt-0 relative z-20 overflow-hidden bg--layer  ">

    <img class=" absolute top-0 left-0 md:h-full opacity-5 h-2/4    grayscale" src="assets\images\pngwing.com (1).png">
    <!-- <img class=" absolute bottom-0  right-0 md:h-2/4 opacity-5 h-2/4 hidden lg:flex   grayscale "
        src="assets\images\pngegg (6).png"> -->


    <div
        class=" lg:flex lg:basis-1/2 basis-2/3 relative z-30 overflow-hidden justify-center items-center img-container ">
        <img class=" m-auto  lg:h-[50%] h-[500px] left--img--slider absolute left-[50%] translate-x-[-50%]  "
            src="assets\images\91M+FwOmv4L._SL1500_-removebg-preview.png">
        <img class=" m-auto  lg:h-[60%]  h-[500px]  right--img--slider "
            src="assets\images\pngfind.com-lotion-bottle-png-5124099.png">
    </div>
    <div class=" lg:basis-1/2  flex m-auto basis-11/12 lg:p-0 p-10  ">
        <div class="lg:basis-3/4  md:p-0">
            <h2 class="text-3xl font-medium mb-5 text-zinc-800">The natural dermatologist your skin needs</h2>
            <p class="text-xl font-normal mb-5 text-gray-900 break-all">Our craftsmen explore the world just like our
                founder by
                being
                “open and curious to everything”. We
                experience life to innovate and create with an open-minded and joyful attitude
            </p>
            <p class="text-base font-normal mb-10 text-gray-600 leading-7 break-all">Our craftsmen explore the world
                just
                like our
                founder by being
                open and curious to everything. We
                experience life to innovate and create with an open-minded and joyful attitude Our craftsmen explore the
                world just like our founder by being
                open and curious to everything. We
                experience life to innovate and create with an open-minded and joyful attitude

            </p>
            <div class="md:flex md:justify-around md:gap-4  ">
                <div class=" text-center mb-10 ">
                    <div class="flex justify-center mb-5  ">
                        <i
                            class="fa-solid fa-feather-pointed text-5xl transition-all duration-300 hover:-translate-y-3 text-[#ebbaa9] "></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-xl mb-1 text-zinc-900 font-medium  text-center  ">
                            <a routerLink="">Natural Ingrediant</a>
                        </h6>
                    </div>
                </div>
                <div class=" text-center mb-10  ">
                    <div class="flex justify-center mb-5 ">
                        <i
                            class="fa-solid fa-flask-vial text-5xl transition-all duration-300 hover:-translate-y-3 text-[#ebbaa9] "></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-xl mb-1 text-zinc-900 font-medium  ">
                            <a routerLink="">No Toxic Chemicals</a>
                        </h6>
                    </div>
                </div>
                <div class=" text-center mb-10 ">
                    <div class="flex justify-center mb-5 ">
                        <i
                            class="fa-solid fa-shield-heart text-5xl transition-all duration-300 hover:-translate-y-3 text-[#ebbaa9]"></i>
                    </div>
                    <div class="md:w-full w-11/12 m-auto ">
                        <h6 class="text-lg mb-1 text-zinc-900 font-medium  ">
                            <a routerLink="">Safe In Lab
                                Tested</a>
                        </h6>
                    </div>
                </div>
            </div>
            <!-- <button class="bg-gray-500">Join AND Shop Now</button> -->
        </div>
    </div>

</section>

<!--whats new-->
<section class="mt-20 mb-10">
    <h3 class="text-center text-3xl font-medium pb-14">What's New For You</h3>
    <div class="w-10/12 m-auto grid lg:grid-cols-4 grid-flow-row md:grid-cols-2 grid-cols-1  gap-5  ">
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden  mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full">
                        <img class="w-full h-full" src="assets\images\6841137.jpg">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\freestocks-DlZD4V2j9oM-unsplash.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full">
                        <img class="w-full h-full" src="assets\images\6841138.jpg">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\91M+FwOmv4L._SL1500_.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden  mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full bg-[#efe2d8]">
                        <img class="w-full h-full" src="assets\images\pngwing.com.png">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\handmade-soap-almond-marble-background.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden  mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full ">
                        <img class="w-full h-full" src="assets\images\657-6578633_bar-soap-hd-png-download.png">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\soap-g29ec4649c_1920.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden  mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full bg-[#efe2d8]">
                        <img class="w-full h-full" src="assets\images\pngwing.com.png">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\handmade-soap-almond-marble-background.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden  mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full ">
                        <img class="w-full h-full" src="assets\images\657-6578633_bar-soap-hd-png-download.png">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\soap-g29ec4649c_1920.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full">
                        <img class="w-full h-full" src="assets\images\6841138.jpg">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\91M+FwOmv4L._SL1500_.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>
        <div class="mb-3">
            <div class="flex  h-72  relative overlay overflow-hidden mb-3   ">
                <div class="frontimage w-full h-full  ">
                    <div class="absolute top-0 left-0 bottom-0 w-full">
                        <img class="w-full h-full" src="assets\images\6841137.jpg">
                    </div>
                    <div class="flex flex-col flex-nowrap gap-5  absolute top-2.5 right-4">
                        <a routerLink=""> <i
                                class="fa-solid fa-cart-arrow-down border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] first--icon--transation"></i></a>

                        <a routerLink="">
                            <i
                                class="fa-regular fa-heart border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] second--icon--transation"></i>
                        </a>
                        <a routerLink="">

                            <i
                                class="fa-solid fa-magnifying-glass border-none rounded-[50%] p-3 text-gray-900 bg-slate-400 hover:bg-[#e9ad9a] third--icon--transation "></i>
                        </a>
                    </div>
                </div>
                <div class="absolute top-0 left-0 bottom-0  w-full  z-10  ">
                    <img class=" w-full h-full " src="assets\images\freestocks-DlZD4V2j9oM-unsplash.jpg">
                </div>

            </div>
            <div class="flex flex-col text-center">
                <h3 class="text-xl font-medium py-2">Cosmosglow Soap</h3>
                <img class=" md:w-[120px] w-[140px] flex m-auto" src="../../assets/images/pngegg (7).png">
                <p> 5₹35.00 – ₹50.00</p>
            </div>
        </div>







    </div>
</section>

<!--sign up to news letter-->
<section class=" flex flex-col text-center bg--layer bg-red-500 bg-opacity-5 py-16 my-16  ">
    <h3 class="text-3xl font-medium text-slate-900">Sign Up To Our Newsletter</h3>
    <p class="mt-4 mb-5">Latest news | Special offers | Behind the scenes</p>
    <div class="shadow--affect lg:w-1/3 md:w-6/12 sm:w-8/12  m-auto focus-within:shadow-lg">
        <input
            class="border-[1px] border-[#ecb8a7] outline-none w-8/12 p-2 bg-transparent focus:placeholder:translate-x-20  focus:placeholder:duration-500 focus:placeholder:opacity-0  "
            type="text" placeholder="Enter Your Mail">
        <button class="bg-[#ecb8a7] hover:bg-cyan-800 hover:bg-opacity-30 delay-200 duration-300 w-4/12
            py-[9px]  px-[25px] ">subscribe</button>

    </div>
</section>

<!--gallary section-->
<section class="   flex justify-end ">
    <div class=" w-[90%] grid grid-flow-col grid-cols-6 grid-rows-4 gap-4  relative  ">
        <div data-aos="zoom-out-right" data-aos-duration="3000" class="col-start-1 col-span-2 row-start-1 row-span-3  ">
            <img class="w-[300px]" src="../../assets/images/micheile-dot-com-2Cp7Tdu9t9U-unsplash.jpg">
        </div>
        <div class="col-start-3 col-span-full flex flex-col md:justify-end relative  ">
            <p class="md:w-[50%] md:text-2xl text-sm font-semibold absolute   ">Best soaps are not made in factories,
                they are made in home, with natural
                ingredients which are handpicked & home grown.</p>
        </div>
        <div class="col-start-1 col-span-2 row-start-3 ">
            <img class="w-[300px] m-auto" src="../../assets/images/soap-g29ec4649c_1920.jpg">
        </div>
        <div class="col-start-3 col-span-2 row-start-2 row-span-1  absolute">
            <img class="w-[400px]" src="../../assets/images/handmade-soap-almond-marble-background.jpg">
        </div>
        <div data-aos="fade-up" data-aos-duration="3000"
            class="col-start-5 col-span-2 row-start-2 row-span-2 flex items-start">
            <img class="w-[400px]" src="../../assets/images/natural-handmade-soap-from-lavender-leaves.jpg">
        </div>
        <div class="col-start-2 col-span-2 row-start-4 row-span-2 relative ">
            <img class="w-[300px] absolute top-[-10%] animate-spin-slow "
                src="../../assets/images/da190dc81ecf7e94d749e9cd70942b6e-removebg-preview.png">
        </div>


    </div>


</section>